* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0; 
}

body {
    margin: 0;
}

header {
display: flex;
justify-content: center;
flex-direction: column;
background-color: black;
/* height: 20vh */
height: fit-content;
}

h1 {
    display: flex;
    width: 100%;
    color:rgb(255, 186, 0, 0.87);
    font-size: 6.25rem;
    text-align: center;
    justify-content: center;
    margin-top: 0;
    font-family: 'Diplomata SC', cursive;
}

.heronav a {
    color: black;
    -webkit-text-stroke-color: rgb(255, 186, 0, 0.87);
    font-size: 50px;
}

.notactive {
    -webkit-text-stroke-width: 2px;
}

.active {
    -webkit-text-stroke-width: 4px;
}

.heronav > ul{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Goblin One', cursive;
}

.heronav > ul > li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    height: 10vh;
}

main {
    margin: 0;
    background-color: rgb(97, 97, 97);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title{
    width:100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 37px;
    color: black;
    background-color: rgb(255, 186, 0);
    font-family: 'Goblin One', cursive;
}

.hero{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/HeroImage1.png);
    max-width: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.Heroimg {
   background-image: url("/images/YellowJournalism.PNG");
   background-repeat: no-repeat;
   margin: 0%;
   padding: 0;
}

.heroText{
    color: rgb(255, 186, 0, 0.87);
    font-size: 50px;
    padding: 30px;
    background-color: black;
    border-radius: 20px;
}

.maxheight {
    height: 100vh;
}

.content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: fit-content;
    padding: 40px;
    box-sizing: border-box;
    align-items: center;
    line-height: 230%;
}

.c2{
    flex-direction: row-reverse;
    background-image: url(images/YellowJournalism.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.c3{
    flex-direction: row;
    background-image: url(images/NewspaperStand.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.c4{
    flex-direction: row-reverse;
    background-image: url(images/Dictionary.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text{
    width: 40%;
    background-color: rgb(255, 186, 0, 0.87);
    border: 1px;
    border-radius: 20px;
}

.img{
    width: 40%;
    height: 90vh;
}

.cont2{
    padding: 20px;
    height: fit-content;
    width: 40%;
    background-color: rgb(255, 186, 0, 0.87);
    border: 1px;
    border-radius: 20px;
    font-size: 23px;
    font-family: 'Goblin One', cursive;
}

.cont3{
    padding: 20px;
    height: fit-content;
    width: 40%;
    background-color: rgb(255, 186, 0, 0.87);
    border: 1px;
    border-radius: 20px;
    font-size: 23px;
    font-family: 'Goblin One', cursive;
}

.options{
    display: flex;
    flex-wrap: wrap;
    height: 40vh;
}

.bwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    width: 100%;
}

.button{
    text-align: center;
    text-decoration: underline;
    background-color: black;
    color: rgb(255, 186, 0, 0.87);
    padding: 2%;
    border: 1px;
    border-radius: 20px;
    width: 46vw;
    font-family: 'Goblin One', cursive;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 30vh;
    line-height: 150%;
}

footer a{
    color: rgb(255, 186, 0);
    
}


.footerNav{
    height: 100%;
}

.footerNav ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.page-link{
    width: 50%;
    height: 100%;
}

.ref{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    color: rgb(255, 186, 0);
}

.reffoothead {
    height: 25%;   
    color: rgb(255, 186, 0);
    font-family: 'Goblin One', cursive;
}

.contact{
    width: 25%;
    color: rgb(255, 186, 0);
}

.headerDiv {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 37px;
    color: black;
    background-color: rgb(255, 186, 0);
    margin-bottom: 30px;
}

.examplesheader1 {
    background-color: rgb(255, 186, 0);
    display: flex;
    font-size: 30px;
    padding: 10px;
}
.maineOnSpain {
    background-color: rgb(255, 186, 0);
    border: 1px;
    font-size: 23px;
    display: flex;
    padding: 20px;
    justify-content: center;
    margin-bottom: 30px;
}

.maineOnSpain img {
    width: 30%;
}

body {
    background-color: black;
}

.examplesheader2 {
    background-color: rgb(255, 186, 0);
    display: flex;
    font-size: 30px;
    padding: 10px;
    justify-content: center;
}

.ebola {
    background-color: rgb(255, 186, 0);
    display:flex;
    margin-bottom: 30px;
}

.baby {
    background-color: rgb(255, 186, 0);
    border: 1px;
    font-size: 23px;
    display: flex;
    padding: 20px;
    justify-content: center;
    margin-bottom: 30px;
}

.examplesheader3 {
    background-color: rgb(255, 186, 0);
    display: flex;
    font-size: 30px;
    padding: 10px;
}

.divider {
    background-color: black;
    height: 3vh;
    width: 100%;
}
