* {
    text-decoration: none;
    list-style: none;
     margin: 0;
    padding: 0; 
}

.ContentCenter {
    
}



header {
display: flex;
justify-content: center;
flex-direction: column;
background-color: black;
/* height: 20vh */
height: fit-content;
}

header > h1 {

    color:rgb(255, 186, 0, 0.87);
    font-size: 7rem;
    text-align: center;
    margin-top: 0;
}

h1 {
    display: flex;
    width: 100%;
}

.title {
    width: 100%;
}

.heronav{
    display: flex;
    justify-content: center;
    
}

.heronav > a {
display: flex;
background-color: black;
color: yellow;
}

.heronav > ul{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3333%;
}
.heronav > ul > li{
    width: 33.33%;
    height: 5vh;

}

main {
    margin: 0;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: rgb(97, 97, 97);
}


.title{
    width:100%;
}

.Heroimg {
   background-image: url("/images/YellowJournalism.PNG");
   background-repeat: no-repeat;
   margin: 0%;
   padding: 0;
}

.maxheight {
    height: 100vh;
}

.content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 40vh;
    margin-bottom: 10vh;
    
}



.c2{
    flex-direction: row-reverse;
}
.text{
    width: 40%;
    background-color: rgb(255, 186, 0, 0.87);
    border: 1px;
    border-radius: 20px;
}
.img{
    width: 40%;
}

.cont2{
    padding: 20px;
}




/*buttons*/

.options{
    display: flex;
    flex-wrap: wrap;
    height: 30vh;
}

.bwrap{
    width: 100%;
}

.bwrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    background-color: black;
    color: rgb(255, 186, 0, 0.87);
    padding: 2%;
    border: 1px;
    border-radius: 20px;
}

/*footer*/

footer{
    display: flex;
}

.page-link{
    width: 50%;
}

.ref{
    width: 25%;
}

.contact{
    width: 25%;
}